@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rye&display=swap');

.nav{
    background-color:#A29875;
font-size: 75px;
font-weight: 400;
line-height: 93.75px;
text-align: left;
color:  #FFFFFF;
font-family: "Rye", serif;
font-style: normal;
}

.nav{
    font-family: "Rye", serif;
font-style: normal;
}


  